// -----------------------------------------------------------------------------
// This file contains all styles Loader
// -----------------------------------------------------------------------------


.loader {
    height: 70vh;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 7px dashed $primary-color;
        animation: 5s rotate linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}