// -----------------------------------------------------------------------------
// This file contains all basic styles .content wrapper
// -----------------------------------------------------------------------------


.content {

    .heading {
        margin-top: 3rem;

        h1 {
            text-transform: capitalize;
            font-size: 1.7rem;
            margin: 0;
            color: $white-color;

            @include md {
                font-size: 1.2rem;
                margin-bottom: 0;
            }
        }
    }
}